h1 {
  font-family: 'Gentium Basic', serif;
}

h3 {
  font-family: 'Gentium Basic', serif;
}

/*Navigation Bar*/
nav ul {
    font-family: 'BenchNine', sans-serif;
    background-color: #4579B3;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 24px;
    width: 700px;
}
/*Links to the navigation bar*/
nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 30px 15px 22px 15px;
    background: #4579B3;
}
/*Navigation bar links on hover*/
nav ul li a:hover {
  background: #C2C2C0;
  color: #027F45;
}
/*Front page Gallery design*/
#gallery {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 600px;
  border: 10px solid #027f45;
  margin: 30px auto;
}

/*Header & Footer format: */
hgroup {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 3px yellow;
    background-image: url("Images/headerClipped.png");
    background-size: 1024px 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 0px; }
       hgroup>h3 {
        font-size: 1.25em;
        }

.veryBottom {
  font-family: 'Gentium Basic', serif; }
  #copy { /*Div for page copywrite info.  */
      text-align: right;
      margin-right: 25px; }
  #back { /*Div for link to top of page.  */
    text-align: center;
  }

/*About Us text organizing*/
#aboutUsBlurb {
  width: 600px;
  margin: 100px auto;
  margin-bottom: 60px;
  font-family: 'Gentium Basic', serif;
}

.aboutUs {
  width: 600px;
  margin: 30px auto;
  margin-top: 50px;
}

h2 {
  font-family: 'Didact Gothic', sans-serif;
}
/*End of About Us-specific CSS*/

/*Resources formatting:   */
dt h4, dd {
  margin-bottom: 5px;
}
