/*Site-wide formatting:   */
body {
  margin: 0;
  background-color: #b0a18e;
}

#logo {
  display: flex;
  align-items: baseline;
  text-align: left;
  padding-left: 15px;
  width: 270px;
  height: 70px;
  border-bottom-right-radius: 20px;
  background-color: #5a5c51;
  color: white;
  border-bottom: 3px solid #1d2120;
  border-right: 3px solid #1d2120;
}

#logo h1 {
  font-family: 'Playfair Display SC', serif;
  padding-left: 15px;
  font-size: 30px;
  color: #729f98;
}

#logo h3 {
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 15px;
}

#container {
  display: flex;
  justify-content: space-between;
}

#menu {
  background-color: #5a5c51;
  display: flex;
  width: 500px;
  height: 70px;
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid #1d2120;
  border-left: 3px solid #1d2120;
}


/*Navigation Bar*/

nav ul {
  font-family: 'BenchNine', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-shadow: none;
}


/*Links to the navigation bar*/

nav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}


/*Navigation bar links on hover*/

nav ul li a:hover {
  color: #fff;
  text-shadow: 0px -1px 19px rgba(250, 250, 250, 1);
  font-size: 24px;
}

#background-graphic {
  background-image: url("Images/hood-header.jpg");
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.homepage #background-graphic {
  height: 700px;
}
#index-content {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 900px;
  margin: 175px auto;
  border: 2px solid #fff;
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
}

  /*Header & Footer format: */
footer {
  font-family: 'Gentium Basic', serif;
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  border-top: 3px solid #1d2120;
  border-left: 3px solid #1d2120;
  border-right: 3px solid #1d2120;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 50px;
  background-color: #5a5c51;
  font-family:'BenchNine', sans-serif;
  font-size: 18px;
  color: #fff;}

footer a {
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}

/*Main Page formats:  */


/*Front page Gallery design*/

#gallery {
  height: 400px;
  width: 600px;
  border: 10px solid #027f45;
  /*    margin: 30px auto;*/
}


/*Front page button design*/

.game-button {
  border-radius: 10px;
  height: 100px;
  width: 300px;
  margin: 0 auto;
  background-color: #5a5a5a;
  font-family: 'Playfair Display SC', serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #1d2120;
}

.game-button p {
  padding-left: 50px;
  padding-top: 15px;
}


/*Activities page formats:  */
  body {
    font-family: 'Gentium Basic', serif;
  }
  #page-title{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 250px;
  }
  #mainContent {
    width: 700px;
    margin: 10px auto;
    padding: 2px;
    display: flex;
    align-items: flex-start;
  }
  #options {
    min-width: 250px;
    margin: 0 auto;
  }
  #results {
    min-width: 300px;
    margin: 20px auto;
  }
  label {
    font-size: 16px;
    letter-spacing: 1px;
  }
  input {
    margin-left: 10px;
  }
/*Resources formatting:   */
#resourcesContent {
  display: flex;
  margin-top: 250px;
}

#activities {
  background-color: #247291;
  min-width: 475px;
  max-width: 40%;
  padding: 2%;
  white-space: nowrap;
  border-radius: 5px;
  margin: 0 20px;
}

dt h4, dd {
  margin-bottom: 5px;
}

dt h4, dd:hover {
  text-shadow: 0 0 2px white;
}

#webContent {
  background-color: blue;
}



/*About Us text organizing*/

#aboutUsBlurb {
  width: 600px;
  margin: 35px auto;
  margin-top: 250px;
  font-family: 'Gentium Basic', serif;
}

.aboutUs {
  width: 600px;
  margin: 30px auto;
  margin-top: 50px;
  background-color: #f0eceb;
  border: 3px solid #1d2120;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  font-family: 'Didact Gothic', sans-serif;
}

#contactus {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#contactForm {
  border: 2pt solid black;
  border-radius: 5px;
  margin: 50px;
}

label {
  padding: 5px 5px;
}

fieldset {
  border-radius: 5px;
  max-width: 275px;
  margin: 25px 10px;
}

input {
  margin: 5px;
  border-radius: 3px;
}

textarea {
  width: 20em;
  height: 25em;
}
/*End of About Us-specific CSS*/

/*Responsive Design*/
@media screen and (max-width:618px) {
  body {
    background-color: #ede9ce;
  }
  #container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #3E70B7, #4F92C9)
  }
  #logo {
    width: auto;
    border-left: 3px solid #1d2120;
    border-bottom-right-radius: 0%;
    padding-left: 50px;
  }
  #menu {
    width: auto;
    border-bottom-right-radius: 20px;
    border-right: 3px solid #1d2120;
  }
  #background-graphic {
    background-image: url("Images/hood-header.jpg");
    position: absolute;
    top: 146px;
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
  }
  .homepage #background-graphic {
    height: 300px;
  }
  #index-content {
    width: 350px;
    font-size: 18px;
    margin-bottom: 100px;

  }
}
