/*Navigation Bar*/
nav ul {
    font-family: 'Unica One', cursive;
    background-color: #4579B3;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 80px;
    font-size: 24px;
    width: 700px;
}
/*Links to the navigation bar*/
nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 30px 15px 22px 15px;
    background: #4579B3;
}
/*Navigation bar links on hover*/
nav ul li a:hover {
  background: #C2C2C0;
  color: #027F45;
}
